p {
  margin-top: 3px;
  font-family: "Courgette";
}

h1 {
}

h5 {
  margin-top: 30px;
}

footer {
  text-align: center;
  margin-top: 80px;
}

form {
  text-align: center;
}

.signup-page {
  padding-top: 170px;
}

.signup-background {
  background-color: rgb(82, 284, 202);
  height: 100vh;
}

.login-page {
  padding-top: 170px;
}

.login-background {
  background-color: rgb(82, 284, 202);
  height: 100vh;
}

h4 {
  text-align: center;
  font-size: 40px;
}

input {
  width: 500px;
  height: 40px;
  display: block;
  text-align: center;
  align-items: center;
  margin: auto;
  border-radius: 7px;
  box-shadow: 2px 2px 8px grey;
  margin-bottom: 10px;
  margin-top: 10px;
}

.submit {
  align-items: center;
  margin-top: 30px;
  width: 120px;
  height: 40px;
  box-shadow: 2px 2px 8px grey;
  font-size: 20px;
  border-radius: 7px;
}
.submit:hover,
.here:hover {
  background: rgb(253, 84, 120);
  color: white;
}

.sign-up-here {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}
.here {
  border: 2px solid rgb(253, 84, 120);
  background-color: white;
  border-radius: 7px;
  padding: 3px;
}

.error-message {
  background-color: white;
  margin: auto;
  color: red;
  text-align: center;
  border: 5px solid black;
  font-weight: bolder;
  font-size: 35px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.here {
  box-shadow: 2px 2px 8px grey;
  border-radius: 7px;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  font-size: 20px;
}

@media screen and (max-width: 480px)  {
  .login-user-input {
    width: 450px;
  }
  .sign-up-here {
    width: 85%;
  }
}