
/* .logo {
  height: 450px;
  width: 575px;
  margin-top: 60px;
} */

/* .homepage-background {
  background-color: blue;
  height: 100vh;
} */

/* .home-header {
  text-align: center;
  background-color: rgb(82, 284, 202);
  margin-bottom: 100px;
  height: 100vh;
  width: 100%;
} */

p {
  margin-top: 3px;
  font-family: 'Courgette';
}

/* .logo-name {
  margin-bottom: 5px;
  color: rgb(253, 84, 120);
  border: 1px rgb(218, 254, 85);
} */

h1 {
  
}

/* .login-signup {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
} */

/* .login {
  padding: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: 30px;
  margin-right: 10px;
  box-shadow: 4px 4px 10px rgb(70, 70, 70);
} */

/* .signup {
  padding: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: 30px;
  margin-left: 10px;
  box-shadow: 4px 4px 10px rgb(70, 70, 70);
} */

h5 {
  margin-top: 50px;
}

footer {
  text-align: center;
  margin-top: 80px;
}

form {
  text-align: center;
}

/* .homepage-container {
  background-color: black;
} */


/* .fade-in-text {
  animation: fadeIn linear 5s;
  -webkit-animation: fadeIn linear 5s;
  -moz-animation: fadeIn linear 5s;
  -o-animation: fadeIn linear 5s;
  -ms-animation: fadeIn linear 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
} */

.signup-page {
  padding-top: 170px;
}

.signup-background {
  background-color: rgb(82, 284, 202);
  height: 100vh;
}

.login-page {
  padding-top: 170px;
}

.login-background {
  background-color: rgb(82, 284, 202);
  height: 100vh;
}

h4 {
  text-align: center;
  font-size: 40px;
}

input {
  width: 500px;
  height: 40px;
  display: block;
  text-align: center;
  align-items: center;
  margin: auto;
  border-radius: 7px;
  box-shadow: 2px 2px 8px grey;
}

.submit {
  align-items: center;
  margin-top: 30px;
  width: 120px;
  height: 40px;
  box-shadow: 2px 2px 8px grey;
  font-size: 20px;
}

.sign-up-here {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}