.header-container {
  width: 95%;
  margin-left: 20px;
  margin-top: 10px;
}

.header-container h3 {
  float: left;
}

.header-container .button-container {
  float: right;
}

#slideRight-ToVisit, #slideRight-Visited {
  margin-left: 10px;
}

div.scrollmenu {
  background-color: #53F8C6;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 40px;
  width: 95%;
  margin-left: 20px;
}

div.scrollmenu div {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.brunch-card-to-visit {
  background-color: #FE809B;
  width: 35%;
  white-space: normal;
  box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.73);
  margin: 20px 20px;
}

.to-visit-remove {
  float: right;
  margin: 10px 30px 10px 0px  ;
}

.to-visit-check {
  float: left;
  margin: 10px 0px 10px 30px  ;
}

.brunch-image {
  width: 100%;
  height: 20em;
  object-fit: cover;
  object-position: 50% 50%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.restaurant-name {
  color: black;
  text-align: center;
  font-size: 40px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
}

.brunch-info {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 20px;
  font-weight: bold;
  border-top: 5px solid black;
}

.brunch-stats {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.to-visit-internal-buttons {
  width:100%
}

.visited-remove {
  display: table;
  margin: 10px auto;
}

button {
  width: auto;
}

.brunch-card-visited {
  background-color: #FE809B;
  width: 35%;
  white-space: normal;
  box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.73);
  margin: 20px 20px;
}
